body {
    background-color: rgb(170, 170, 170);
}

/* HEADER
---------------------*/

header .header-show-categories .dropdown-toggle {
    margin-top: 8px;
}

.nav-button-dropdown {
    background-color: #222;
    color: #9d9d9d !important;
}

.nav-button-dropdown:hover {
    color: white;
}

header nav div div .logo {
    height: 50px;
}

header .header-add-delete-box button {
    margin-right: 13px;
}

.navbar-right~.navbar-right {
    margin-right: 10px;
}

.navbar-fixed-top {
    opacity: 0.9;
    background-color: rgb(70, 70, 70);
}
/* fixed navbar at the top */

/* Cointer add button
---------------------*/

.remove-padding {
    padding-left: 0px;
}

/* Container
---------------------*/

/* interface */

.list {
    margin: 5%;
}

.check {
    background-color: #f2d8ac;
    border-bottom: 1px solid rgb(245, 169, 169);
    height: 40px;
    text-align: left;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.check>p {
    margin: 0 0 0px;
}

.left {
    border-right: 1px solid rgb(245, 169, 169);
}

.date-style>p {
    font-weight: 600;
    margin: 0 0 -10px;
}

.date-style {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2d8ac;
    border-bottom: 1px solid rgb(245, 169, 169);
    height: 40px;
    text-align: center;
    font-size: 18px;
}
